# Copy this file to .env and fill in your Supabase project values
VITE_SUPABASE_URL=https://lwqxsugpufvwblvxhcww.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx3cXhzdWdwdWZ2d2JsdnhoY3d3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk3MzQwMDEsImV4cCI6MjA5NTMxMDAwMX0.iUjyZHCiD7b2Hc3UYeobUsdpWE0JHuyyQGTW1Uw_tms
